pre {
	background: #272727;
	margin: 0 -9999rem;
	padding: 1.25rem 9999rem;
	background: #272727;
	line-height: 1.6;
}

/* Search */
.search-icon {
	position: absolute;
	top: 1.2rem;
  right: 1.2rem;
	color: #DEDEDE;
  display: none;
}
#search-drawer {
	display: none;
}
input#search-input {
	font-size: 40px;
	padding: 3px;
	margin: 0px 50px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);
	color: #fff;
	outline: 0;
}
#search-input input[type=text]:focus, textarea:focus {
	box-shadow: 0px transparent;
	border: 0px;
	outline: 0;
}
input#search-input::-webkit-input-placeholder { color: #fff; }
input#search-input:-moz-placeholder { color: #fff; }
input#search-input::-moz-placeholder { color: #fff; }
input#search-input:-ms-input-placeholder { color: #fff; }
#results-container {
	width: 80%;
	margin: 15px auto;
}
#results-container li {
	list-style: none;
	padding: 5px 0px;
	text-align: left;
	font-size: 24px;
	border-bottom: 1px solid rgba(247, 234, 255, 0.17);
}
#results-container li:hover { background: rgba(247, 234, 255, 0.17); }
#results-container li:last-child { border-bottom: none; }
#results-container li:before {
	content: "\232A";
	font-size: 18px;
	padding-right: 10px;
	margin-top: 5px;
	margin-left: 15px;
	display: block;
	color: #fff;
	float: left;
}
#results-container li a {
	color: #fff;
}
#results-container li a:hover {
	color: #393939;
	text-decoration: none;
}
/* Tagging */
ul.tag_list, ul.tag_list_in_post {
	display: inline-block;
	padding-left: 0px;
	list-style: none;
	margin: 0px;
}
li.inline.archive_list, li.tag_list_item {
	display: block;
	float: left;
	margin: 0px 5px;
	line-height: 14px;
}
a.tag_list_link {
	font-size: 14px;
	background: #268bd2;
	color: #fff;
	padding: 2px 8px;
}
ul.tag-box  {
	list-style: none;
	padding-left: 0px;
	float: right;
}
.tag-box li {
	background: #268bd2;
	display: block;
	float: left;
	margin: 10px 5px;
	padding: 0px 0px 0px 10px;
}
.tag-box li:hover {
	background: #2074af;
}
.tag-box li a {
	color: #fff;
}
.tag-box li span {
	background: #545454;
	padding: 3px 10px;
}
.tag-box li a:hover {
	color: #83b5fa;
	text-decoration: none;
}
li.tag_list_item {
	line-height: 26px;
}
