/*  		   _     _   _
 *	 ___ ___ _| |___| |_|_|
 *	|  _| . | . | . | '_| |
 *	|___|___|___|___|_,_|_|
 */

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.masthead {
    background-color: transparent;
    border-bottom: 0px solid #575757;
}

.masthead-title a {
	font-family: 'Source Code Pro', ;
	padding-right: 10px;
	color: #68C0FF;
}
.masthead-title small {
	font-family: 'Source Code Pro', ;
	font-size: 16px;
}

.logo {
	max-width: 64px;
}
.logo-wrap {
	display: block;
		    float: left;
}

a.logo {
	background: #4D4D4D;
	font-size: bold;
	padding: 5px 12px;
	margin-right: 13px;
	color: #101010;
	border-radius: 200px;
	background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#FFA32C),to(#99c9ff));
}
a.logo:hover {
    text-decoration: none;
    color: #434343;
}

pre {
	background: #272727;
	margin: 0 -9999rem;
	padding: 1.25rem 9999rem;
	background: #272727;
	line-height: 1.6;
}

img.profile-pic {
    padding: 0px;
    margin: -15px 0px;
    max-width: 125px;
    float: right;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    border: 1px solid #c8c8c8;
}
.about-social-links {
    margin: 0;
    padding: 20px 0px;
    list-style-type: none;
}
.about-social-links li {
    float: left;
    display: block;
    width: 33.33%;
    margin: 0;
    padding: 0;
    opacity: 0.65;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}


/* Sidebar */
.sidebar-item, .sidebar-nav-item, .sidebar a {
	font-family: 'Source Code Pro', ;
}



/* Posts */
.page-title, .post-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 34px;
	background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#FFA32C),to(#99c9ff));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Tagging */
ul.tag_list, ul.tag_list_in_post {
	display: inline-block;
	padding-left: 0px;
	list-style: none;
	margin: 0px;
}
li.inline.archive_list, li.tag_list_item {
	display: block;
	float: left;
	margin: 0px 5px;
	line-height: 14px;
}
a.tag_list_link {
	font-size: 14px;
	background: #268bd2;
	color: #fff;
	padding: 2px 8px;
}
ul.tag-box  {
	list-style: none;
	padding-left: 0px;
	float: right;
}
.tag-box li {
	background: #268bd2;
	display: block;
	float: left;
	margin: 10px 5px;
	padding: 0px 0px 0px 10px;
}
.tag-box li:hover {
	background: #2074af;
}
.tag-box li a {
	color: #fff;
}
.tag-box li span {
	background: #545454;
	padding: 3px 10px;
}
.tag-box li a:hover {
	color: #83b5fa;
	text-decoration: none;
}
li.tag_list_item {
	line-height: 26px;
}

/* Archive */
ul.archive-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.archive-list li {
	padding: 8px 0px;
	border-bottom: 1px solid #E5E5E5;
}
.archive-list li:last-child {
	display: none;
}
.archive-list li a:hover {
	color: #5F5F5F;
	text-decoration: none;
}
.archive-list span {
	font-size: 12px;
	margin-right: 10px;
	vertical-align: middle;
	background: #268BD2;
	padding: 4px 5px;
	border-radius: 4px;
	color: #fafafa;
}
.sidebar-toggle {
    top: -0.2rem;
    left: 0rem;
    padding: 1.25rem 1.75rem;
    color: #505050;
    background-color: #fff;
    border-radius: 0px;
}

/* Search */
.search-icon {
	position: absolute;
	top: 1.2rem;
    right: 1.2rem;
	color: #DEDEDE;
}
#search-drawer {
	display: none;
}
input#search-input {
	font-size: 40px;
	padding: 3px;
	margin: 0px 50px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);
	color: #fff;
	outline: 0;
}
#search-input input[type=text]:focus, textarea:focus {
	box-shadow: 0px transparent;
	border: 0px;
	outline: 0;
}
input#search-input::-webkit-input-placeholder { color: #fff; }
input#search-input:-moz-placeholder { color: #fff; }
input#search-input::-moz-placeholder { color: #fff; }
input#search-input:-ms-input-placeholder { color: #fff; }
#results-container {
	width: 80%;
	margin: 15px auto;
}
#results-container li {
	list-style: none;
	padding: 5px 0px;
	text-align: left;
	font-size: 24px;
	border-bottom: 1px solid rgba(247, 234, 255, 0.17);
}
#results-container li:hover { background: rgba(247, 234, 255, 0.17); }
#results-container li:last-child { border-bottom: none; }
#results-container li:before {
	content: "\232A";
	font-size: 18px;
	padding-right: 10px;
	margin-top: 5px;
	margin-left: 15px;
	display: block;
	color: #fff;
	float: left;
}
#results-container li a {
	color: #fff;
}
#results-container li a:hover {
	color: #393939;
	text-decoration: none;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(108, 162, 204, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	color: #525252;
	font-size: 36px;
	outline: none;
	z-index: 100;
	background: rgba(159, 209, 255, 0.44);
}

/* Menu style */
.overlay .search-container {
	text-align: center;
	position: relative;
	top: 40%;
	height: 65%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-hugeinc .search-container {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}
.overlay-hugeinc .search-container ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc.open .search-container ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.overlay-hugeinc.close .search-container ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}


@media (max-width: 48em) {

	.logo {
		    margin: 0 auto;
			max-width: 52px;
	}
	.logo-wrap {
		    float: none;
		}
	.title {
		display: none;
	}

	#menu-toggle {
		text-decoration: none;
		display: block;
		position: absolute;
		right: 65px;
		font-size: 32px;
		top:14px;
	}
	input#search-input {
	  font-size: 30px;
	  margin: 45px 0px 0px 5px;
	}
	#results-container {
	  width: 95%;
	}
}
@media screen and (max-height: 30.5em) {
	.overlay .search-container {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}


