/* Main Styles */
.content {
	margin-left: 20rem;
}
#menu-toggle { display: none; }

hr { z-index: -999; }

/* Home */
.updates-home {
  position: absolute;
  top: 20px;
}
.updates-home span a {
  color: #C5C5C5;
  text-shadow: 0px -1px #fff;
  font-size: 17px;
}
.updates-home span a:hover {
  color: #939393;
  text-decoration: none;
}

.updates span {
  color: #838383;
  text-shadow: 0px -1px #fff;
  font-size: 17px;
}
.updates span a {
  text-shadow: 0px -1px #fff;
  font-size: 17px;
}
.updates span a:hover {
  color: #424242;
  text-decoration: none;
}


/* Posts */
.page-title, .post-title {
	margin-top: 0;
	margin-bottom: 20px;
	background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#FFA32C),to(#99c9ff));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* Sidebar */
.sidebar {
	width: 16rem;
	-webkit-transition: width 1s;
    transition: width 1s;
}
.sidebar-logo { max-width: 150px; }
.sidebar-nav {
	margin-bottom: 0px;
}
.sidebar a:hover { color: #99c9ff; text-decoration:none; }
img.profile-pic {
    padding: 0px;
    margin: -15px 0px;
    max-width: 125px;
    float: right;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    border: 1px solid #c8c8c8;
}
span.footer { font-size: 12px; }
.sidebar-icon { padding-right: 10px; }
.close-sidebar {
	position: absolute;
    right: 0;
    color: #3F3F3F !important;
    top: 7px;
}
.rotated {
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

/* Tagging */
ul.tag_list, ul.tag_list_in_post {
	display: inline-block;
	padding-left: 0px;
	list-style: none;
	margin: 0px;
}
li.inline.archive_list, li.tag_list_item {
	display: block;
	float: left;
	margin: 0px 5px;
	line-height: 14px;
}
a.tag_list_link {
	font-size: 14px;
	background: #268bd2;
	color: #fff;
	padding: 2px 8px;
}
ul.tag-box  {
	list-style: none;
	padding-left: 0px;
	float: right;
}
.tag-box li {
	background: #268bd2;
	display: block;
	float: left;
	margin: 10px 5px;
	padding: 0px 0px 0px 10px;
}
.tag-box li:hover {
	background: #2074af;
}
.tag-box li a {
	color: #fff;
}
.tag-box li span {
	background: #545454;
	padding: 3px 10px;
}
.tag-box li a:hover {
	color: #83b5fa;
	text-decoration: none;
}
/* Archive */
ul.archive-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.archive-list li {
	padding: 8px 0px;
	border-bottom: 1px solid #E5E5E5;
}
.archive-list li:last-child {
	display: none;
}
.archive-list li a:hover {
	color: #5F5F5F;
	text-decoration: none;
}
.archive-list span {
	font-size: 12px;
	margin-right: 10px;
	vertical-align: middle;
	background: #268BD2;
	padding: 4px 5px;
	border-radius: 4px;
	color: #fafafa;
}

/* Search */
.search-icon {
	position: absolute;
	right: 28px;
	top:28px;
}
#search-drawer {
	display: none;
}
input#search-input {
	font-size: 40px;
	padding: 7px;
	margin: 0px 50px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);
	color: #fff;
	outline: 0;
}
#search-input input[type=text]:focus, textarea:focus {
	box-shadow: 0px transparent;
	border: 0px;
	outline: 0;
}
input#search-input::-webkit-input-placeholder { color: #fff; }
input#search-input:-moz-placeholder { color: #fff; }
input#search-input::-moz-placeholder { color: #fff; }
input#search-input:-ms-input-placeholder { color: #fff; }
#results-container {
	width: 80%;
	margin: 15px auto;
}
#results-container li {
	list-style: none;
	padding: 5px 0px;
	text-align: left;
	font-size: 24px;
	border-bottom: 1px solid rgba(247, 234, 255, 0.17);
}
#results-container li:hover { background: rgba(247, 234, 255, 0.17); }
#results-container li:last-child { border-bottom: none; }
#results-container li:before {
	content: "\232A";
	font-size: 18px;
	padding-right: 10px;
	margin-top: 5px;
	margin-left: 15px;
	display: block;
	color: #fff;
	float: left;
}
#results-container li a {
	color: #fff;
}
#results-container li a:hover {
	color: #393939;
	text-decoration: none;
}
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(108, 162, 204, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	color: #525252;
	font-size: 36px;
	outline: none;
	z-index: 100;
	background: rgba(159, 209, 255, 0.44);
}


/* Menu style */
.overlay .search-container {
	text-align: center;
	position: relative;
	top: 40%;
	height: 65%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc .search-container {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc .search-container ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open .search-container ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close .search-container ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/* About Page */
.resumebtn {
	background: rgb(138,174,206);
	color: white;
	padding: 10px 15px;
}
a.resumebtn:hover {
	background: rgb(120, 149, 176);
	text-decoration: none;
}
#about-info {
	display :none;
}

.related-posts.popular a {

}

@media (max-width: 48em) {
	.content { margin-left: 0; }
	.updates-home{ display: none; }
	#menu-toggle {
		text-decoration: none;
		display: block;
		position: absolute;
		right: 65px;
		font-size: 32px;
		top:14px;
	}
	.sidebar { width: 100%; padding: 1rem 1rem; }
	.sidebar-logo { margin: 10px 0px; }
	.sidebar-nav {
	    max-height: 0;
	    overflow-y: hidden;
	    -webkit-transition: max-height 0.3s ease-in-out;
	    -moz-transition: max-height 0.3s ease-in-out;
	    -o-transition: max-height 0.3s ease-in-out;
	    transition: max-height 0.3s ease-in-out;
	}
	.close-sidebar { display: none;}
	.slidedown {
	    max-height: 140px ;
	}
	.sidebar-nav-item { text-align: left; }
	.search-icon { color: #fff; }
	#about-info { display: none !important; }
	input#search-input {
	  font-size: 30px;
	  margin: 45px 0px 0px 5px;
	}
	#results-container {
	  width: 95%;
	}
}
@media screen and (max-height: 30.5em) {
	.overlay .search-container {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/* Terminal */
#termDiv {
	position:absolute;
	height:500px;
    width:500px;
    left:50%;
	z-index: 99999;
	line-height: 10px;
	padding: 10px;
	display: none;
}
#termDiv table {
	-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
padding: 0px;
	margin: 0px;
		border: 0px solid transparent;
}

#termDiv tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	/*background-color: #222;*/
	background: transparent;
}
#termDiv td, th {
	border: 0px solid transparent;
	padding: 0px;
	margin: 0px;
}
.term {
	font-family: courier,fixed;
	font-size: 12px;
	color: #33d011;
	background: none;
}

termReverse,.termReverse {
	font-family: courier,fixed;
	font-size: 12px;
	color: #111111;
	background: #33d011;
}

grey,.grey {
	font-family: courier,fixed;
	font-size: 12px;
	color: #999999;
}

keywords,.keywords {
	font-family: arial,helvetica,sans-serif;
	font-size: 10px;
	color: #222222;
}
