<head>
	<link href="http://gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="Codoki is a web development and design
	blog about the latest trends in web technology.">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>
	{% if page.title == "Home" %}
	{{ site.title }} &middot; {{ site.tagline }}
	{% else %}
	{{ page.title }} &middot; {{ site.title }}
	{% endif %}
	</title>

	<!-- CSS -->
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/monokai.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/codoki.css">

	<!-- Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
	<link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

	<!-- JS -->
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ site.baseurl }}/public/js/modernizr.custom.js"></script>
	<script src="{{ site.baseurl }}/public/js/classie.js"></script>
	<script src="{{ site.baseurl }}/public/js/search.js"></script>
	<script src="{{ site.baseurl }}/public/js/script.js"></script>

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
