<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
    <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a class="logo-wrap" href="{{ site.baseurl }}/" title="Home">
              <!--<img class="logo logo" src="{{ site.baseurl }}/public/img/codoki-logo2.png" />-->
			 </a>
            <a class="title" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

       <a href="#" id="trigger-overlay"><i class="fa fa-search fa-lg search-icon"></i></a>

      <div class="container content">
        {{ content }}
      	{% include comments.html %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

   <!-- Full screen search overlay - open/close -->
    <div class="overlay overlay-hugeinc">
      <button type="button" class="overlay-close"><i class="fa fa-close"></i></button>
      <div class="search-container">
        <input id="search-input" placeholder="Search..." />
        <div id="results-container"></div>
      </div>
    </div>

    {% include google_analytics.html %}

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
